*{
  margin: 0;
  padding: 0;
}

header {
    padding: 25vh 0;
    align-items: center;
    justify-content: center;
    background-color: #241f33;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 180px;
  }

@keyframes typing {
    from {
      width: 0;
    }
  }
  
@keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

.arrumar{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;

}


.titulo2{
  margin-top: 3%;
}

.animation {
    margin-bottom: 10%;
    align-items: center;
    text-align: center;
    font: bold 200% Consolas, Monaco, monospace;
    border-right: .1em solid #fff;
    width: 36ch;
    margin:0%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 8s steps(36, end),
               blink-caret .8s step-end infinite alternate;
}

  .perfil {
    width: 35%;
    float: right;
    border-radius: 30px;
    box-shadow: 30px 20px 20px  #2d1d3b;
  }
  
  .nome-titulo {
    font-size: 50px;
    color: #241f33;
  }

  .informacoes{
    margin: 20px 0;
    margin-bottom: 260px;
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
  .textoinfo{
    width: 70%;
  }


.button {
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  height: 0px;
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

.color{
  display:block;
   width:0;
  height:0;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  position:absolute;
  transition:0.8s ease;
   border-radius:50%;
  background-color:transparent;
}
.expanded
{
   width:200%;
  padding-bottom:200%;
  height:auto; 

}

.titulosec{
  text-align: center;
  font-size: 50px;
  margin: 70px;
  font-family:sans-serif;
}


.configurarpassatempo {
  margin-bottom: 10px;
  text-align: center;
  justify-content: flex-start;
  margin-top: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #5c5959;
}
.passatemposgeral {
  padding: 0 7% 0 7%;
}

.secaolivre {
  margin-top: 40px;
  padding: 5% 0% 5% 0%;
  background-color: #241f33;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.imgsecao{
  box-shadow: 10px 5px 5px black;
  width: 40%;
  float: right;
  border-radius: 20px;
}

.textoinfo2{
  width: 35%;
}

.textoinfo p {
  font-size: 18px;
  margin-bottom: 1em;
}

.areasinteresse p {
  margin-bottom: 1em;
}
.secaolivre p {
  margin-bottom: 1em;
}
.areasinteresse {
  padding: 5% 10% 5% 10%;
  background-color: #241f33;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 23px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}

.formacademica{
  padding: 3% 10% 3% 10%;
  display: flex;
  align-items:flex-end;
  justify-content:baseline ;
  gap: 2%;
  font-size: 15px;
}

.tituloacad {
  padding: 10% 10% 10% 10%;
  font-size: 24px;
}

.imgporcentagem {
  padding: 5% 0% 5% 8%;
  width: 50%;
  border-radius: 8rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 5% 0% 5% 0%;
  background-color: #241f33;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #fff;
  text-align: justify;
  margin-top: 60px;
  gap:40vh;
}

.footer h2,h3{
  margin-bottom: 1em;
}


.spinner {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  --clr: rgb(127, 207, 255);
  --clr-alpha: rgb(127, 207, 255, .1);
  animation: spinner 3s infinite linear;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-100px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(100px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: rotate(180deg) rotateX(180deg) rotateY(180deg);
  }

  100% {
    transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
  }
}


.cube-loader {
  position: relative;
  margin-top: 80px;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
  background: linear-gradient(
    to bottom,
    hsl(330, 3.13%, 25.1%) 0%,
    hsl(177.27, 21.71%, 32.06%) 5.5%,
    hsl(176.67, 34.1%, 36.88%) 12.1%,
    hsl(176.61, 42.28%, 40.7%) 19.6%,
    hsl(176.63, 48.32%, 43.88%) 27.9%,
    hsl(176.66, 53.07%, 46.58%) 36.6%,
    hsl(176.7, 56.94%, 48.91%) 45.6%,
    hsl(176.74, 62.39%, 50.91%) 54.6%,
    hsl(176.77, 69.86%, 52.62%) 63.4%,
    hsl(176.8, 76.78%, 54.08%) 71.7%,
    hsl(176.83, 83.02%, 55.29%) 79.4%,
    hsl(176.85, 88.44%, 56.28%) 86.2%,
    hsl(176.86, 92.9%, 57.04%) 91.9%,
    hsl(176.88, 96.24%, 57.59%) 96.3%,
    hsl(176.88, 98.34%, 57.93%) 99%,
    hsl(176.89, 99.07%, 58.04%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 150px;
  height: 150px;
  background: hsl(330, 3.13%, 25.1%) 0%;
  transform: rotateX(90deg) translateZ(75px);
  transform-style: preserve-3d;
}

.iconespassatempo{
  padding: 0 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.ps1 {
  width: 20%;
  display:inline-block;
  justify-content:first baseline;
  align-items: center;
  padding: 5px;
  gap: 0px;
  background-color: transparent;
  outline: 4px #181717 solid;
  outline-offset: -0px;
  border-radius: 15px;
  border: none;
}
.ps1:hover {
  box-shadow: 20px 10px 10px  #241f33;
  width: 20%;
  display:inline-block;
  justify-content:first baseline;
  align-items: center;
  padding: 5px;
  gap: 0px;
  background-color: transparent;
  outline: 4px #181717 solid;
  outline-offset: -0px;
  border-radius: 15px;
  border: none;
}
.ps1text {
  margin-left: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 70%;
  margin-bottom: 90px;
  height: 10px;
  color: #000;
  font-weight: 500;
  font-size: 120%;
}


.icone1{
  margin-left: 30%;
  margin-right: 180px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 40%;
  color: #323232;
}

.seta{
  width: 40%;
  margin-left: 60%;
  display: flex;
  justify-content: end;
  text-align: end;
}


.loader {
  --clr: #05aa44;
  --load-time: 6s;
  margin-top: 30px;
  outline: 5px solid var(--clr);
  outline-offset: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
  width: 3rem;
  height: 0.1rem; 
  padding: 1rem 5rem;
}

.loader::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr);
  z-index: 2;
  animation: loading var(--load-time) ease-in-out ;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.loader2 {
  --clr: #0539aa;
  --load-time: 6s;
  margin-top: 30px;
  outline: 5px solid var(--clr);
  outline-offset: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
  width: 3rem;
  height: 0.1rem; 
  padding: 1rem 5rem;
}

.loader2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 62.5%;
  height: 100%;
  background-color: var(--clr);
  z-index: 2;
  animation: loading2 var(--load-time) ease-in-out ;
}

@keyframes loading2 {
  0% {
    width: 0%;
  }

  100% {
    width: 62.5%;
  }
}

.project-img {
  font-size: 25px;
  text-align: center;
}

.imagenscar{
  width: 100%;
  box-shadow: 17px 13px 13px  #241f33;
  border-radius: 10px;
  margin-bottom: 30px;
}

.swiper {
  height: 400px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}

.editartitulo{
  font-family: bold 200%, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(211, 11, 11) ;

}

.organizarclick {
  display: flex-center;
  gap: 10px;
  text-align: center;
}

.iconemao {
  width: 4%;
}

.areainter{
  padding: 0 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.inters p{
  font-size: 150%;
}

.inters {
  margin-top: 20%;
  margin: 0%;
  width: 100%;
  display:inline-block;
  justify-content:first baseline;
  align-items: center;
  padding: 5%;
  gap: 10%;
  background-color: transparent;
  outline: 4px #181717 solid;
  outline-offset: -0px;
  border-radius: 15px;
  border: none;
}
.inters:hover {
  box-shadow: 20px 10px 10px  #241f33;
  margin-top: 20%;
  margin: 0%;
  width: 100%;
  display:inline-block;
  justify-content:first baseline;
  align-items: center;
  padding: 5%;
  gap: 10%;
  background-color: transparent;
  outline: 4px #181717 solid;
  outline-offset: -0px;
  border-radius: 15px;
  border: none;
}

.aspas{
  margin-bottom: 30px;
}

.textopequeno{
  margin-top: 13%;
}

.perfilpequeno {
  border-radius: 10px;
  margin-top: 10%;
  width: 15%;
  height: 10%;
}

.centralizarautor{
  display: flex;
  gap: 15px;
}